.header {
  background: var(--color-primary);
  min-height: 10rem;
  padding: 1rem;
}

.header form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input,
.searchType,
.searchButton {
  padding: 1rem;
  width: 40rem;
  border-radius: 0.625rem;
  color: var(--color-text);
  background: var(--color-light);
  font-size: 1rem;
  margin: 0.5rem 1rem;
}

.searchButton {
  max-width: 20rem;
  cursor: pointer;
}

.searchType {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 20rem;
  white-space: nowrap;
  cursor: pointer;
}

svg > g {
  stroke: var(--color-primary);
}
