.types {
  position: absolute;
  background: var(--color-light);
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  padding: 0;
  top: 2.7rem;
  left: 0;
  overflow-x: scroll;
  border-top: 1px solid var(--color-primary);
  z-index: 1;
}

.types label {
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  cursor: pointer;
}

.types input {
  display: none;
}

.selected {
  background: var(--color-details-light);
}
